name: spear-check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  spear:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm i -g god-spear@0.2.0
      - run: spear check .spear-rules.json
